@model List<BucStop.Models.Game>
<!-- This is the games list page. Each of the games is loaded in from the model using the game's ID value -->
<h1>List of Games</h1>

<div class="container">
    <div class="card-deck">
        <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
        @foreach (var game in Model)
        {
            <!--<div class="game-item">-->
                <!-- Links to the game-->
                <!--<a href="@Url.Action("Play", "Games", new { id = game.Id })"> 
                    <div class="game-title">@game.Title</div>
                    <img class="game-thumbnail" src="@game.Thumbnail">
                </a>
            </div>-->

            <div class="card">
                <a href="@Url.Action("Play", "Games", new { id = game.Id })">
                    <img src="@game.Thumbnail" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

