@model BucStop.Models.Game

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-style: solid;
    }
</style>

<!-- Content -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">@Model.Title</div>
                <div class="card-body">
                    <div class="game">

                        <!-- Embed the game canvas here -->
                        @if (Model.Title == "Snake")
                        {
                            <canvas width="400" height="400" id="game"></canvas>
                        }
                        @if (Model.Title == "Tetris")
                        {
                            <canvas width="320" height="640" id="game" style="border: 1px solid #000000; background-color: gray"></canvas>
                        }

                            <!-- Embed the game's Javascript here -->
                            <script src="@Url.Content(Model.Content)"></script>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#author">Author</a></li>
                <li><a data-toggle="tab" href="#desc">Description</a></li>
                <li><a data-toggle="tab" href="#howto">How to Play</a></li>
            </ul>
            <div class="tab-content">
                <div id="author" class="tab-pane fade in active">
                    <p>@Model.Author</p>
                </div>
                <div id="desc" class="tab-pane fade">
                    <p>@Model.Description</p>
                </div>
                <div id="howto" class="tab-pane fade">
                    <p>@Model.HowTo</p>
                </div>
            </div>

        </div>
    </div>
</div>